<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto border-t -mt-px pt-4 sm:pt-4">
        <div class="w-full p-4 pt-0 mx-auto">
            <mat-tab-group
                class="sm:px-2 pt-4"
                [animationDuration]="'0'">
                <mat-tab label="Admin Dashboard">
                    <ng-template matTabContent>
                        <div class="grid grid-cols-1 sm:grid-cols-3 md:grid-cols-4 lg:grid-cols-4 xl:grid-cols-4 gap-4 w-full min-w-0">
                            <div class="flex flex-row flex-wrap flex-auto px-4 py-6 bg-card rounded-xl shadow overflow-hidden relative user">
                                <div class="cardImg self-center mx-2"><img src="assets/images/icons/earning.png"></div>
                                <div class="bgOpacity ml-3 lg:ml-3 md:ml-3">
                                <div class="flex items-start ">
                                    <div class="text-lg font-semibold tracking-tight truncate z-20 ">Total Earnings</div>
                                </div>
                                <div class="flex flex-col">
                                    <div class="text-4xl h-8 font-bold tracking-tight leading-none text-yellow-300 z-20 ">143222</div>
                                    <button class="min-h-0 max-h-5 h-15 text-sm flex items-center font-medium text-left text-blue-500"   type="button" routerLink="/dashboards/project">View More
                                        <mat-icon svgIcon="mat_solid:arrow_forward_ios" class="ml-1 text-blue-500 icon-size-3"></mat-icon>
                                    </button>
                                </div>
                                </div>
                            </div>
                            
                            <div class="flex flex-row flex-wrap flex-auto px-4 py-6 bg-card rounded-xl shadow  overflow-hidden relative booking">
                                <div class="cardImg self-center mx-2"><img src="assets/images/icons/earning.png"></div>
                                <div class="bgOpacity ml-3 lg:ml-3 md:ml-3">
                                <div class="flex items-start">
                                    <div class="text-lg font-semibold tracking-tight truncate z-25">Todays Earnings</div>
                                </div>
                                <div class="flex flex-col">
                                    <div class="text-4xl h-8 font-bold tracking-tight leading-none text-blue-500 z-20 ">1432</div>
                                    <button class="min-h-0 max-h-5 h-15 text-sm flex items-center font-medium text-left text-blue-500" type="button" routerLink="/dashboards/project">View More 
                                        <mat-icon svgIcon="mat_solid:arrow_forward_ios" class="ml-1 text-blue-500 icon-size-3"></mat-icon>
                                    </button>
                                </div>
                                </div>
                            </div>
                            <div class="flex flex-row flex-wrap flex-auto px-4 py-6 bg-card rounded-xl shadow overflow-hidden relative user">
                                <div class="cardImg self-center mx-2"><img src="assets/images/icons/users.png"></div>
                                <div class="bgOpacity ml-3 lg:ml-3 md:ml-3">
                                <div class="flex items-start ">
                                    <div class="text-lg font-semibold tracking-tight truncate z-20 ">Total Users</div>
                                </div>
                                <div class="flex flex-col">
                                    <div class="text-4xl h-8 font-bold tracking-tight leading-none text-yellow-300 z-20 ">20</div>
                                    <button class="min-h-0 max-h-5 h-15 text-sm flex items-center font-medium text-left text-blue-500"   type="button" routerLink="/apps/users/list">View More
                                        <mat-icon svgIcon="mat_solid:arrow_forward_ios" class="ml-1 text-blue-500 icon-size-3"></mat-icon>
                                    </button>
                                </div>
                                </div>
                            </div>
                            <div class="flex flex-row flex-wrap flex-auto px-4 py-6 bg-card rounded-xl shadow overflow-hidden relative vender">
                                <div class="cardImg self-center mx-2"><img src="assets/images/icons/global.jpg"></div>
                                <div class="bgOpacity ml-3 lg:ml-3 md:ml-3">
                                <div class="flex items-start">
                                    <div class="text-lg font-semibold tracking-tight truncate z-25">Venders</div>
                                </div> 
                                <div class="flex flex-col">
                                    <div class="text-4xl h-8 font-bold tracking-tight leading-none text-red-500 z-20 ">20</div>
                                    <button class="min-h-0 max-h-5 h-15 text-sm flex items-center font-medium text-left text-blue-500" type="button" routerLink="/apps/vender/list">View More 
                                        <mat-icon svgIcon="mat_solid:arrow_forward_ios" class="ml-1 text-blue-500 icon-size-3"></mat-icon>
                                    </button>
                                </div>
                                </div>
                            </div>
                            <div class="flex flex-row flex-wrap flex-auto px-4 py-6 bg-card rounded-xl shadow  overflow-hidden relative booking">
                                <div class="cardImg self-center mx-2"><img src="assets/images/icons/global.jpg"></div>
                                <div class="bgOpacity ml-3 lg:ml-3 md:ml-3">
                                <div class="flex items-start">
                                    <div class="text-lg font-semibold tracking-tight truncate z-25">Total Bookings</div>
                                </div>
                                <div class="flex flex-col">
                                    <div class="text-4xl h-8 font-bold tracking-tight leading-none text-blue-500 z-20 ">20</div>
                                    <button class="min-h-0 max-h-5 h-15 text-sm flex items-center font-medium text-left text-blue-500" type="button" routerLink="/apps/booking/list">View More 
                                        <mat-icon svgIcon="mat_solid:arrow_forward_ios" class="ml-1 text-blue-500 icon-size-3"></mat-icon>
                                    </button>
                                </div>
                                </div>
                            </div>
                            <div class="flex flex-row flex-wrap flex-auto px-4 py-6 bg-card rounded-xl shadow overflow-hidden relative vender">
                                <div class="cardImg self-center mx-2"><img src="assets/images/icons/global.jpg"></div>
                                <div class="bgOpacity ml-3 lg:ml-3 md:ml-3">
                                <div class="flex items-start">
                                    <div class="text-lg font-semibold tracking-tight truncate z-25">Todays Bookings</div>
                                </div> 
                                <div class="flex flex-col">
                                    <div class="text-4xl h-8 font-bold tracking-tight leading-none text-red-500 z-20 ">20</div>
                                    <button class="min-h-0 max-h-5 h-15 text-sm flex items-center font-medium text-left text-blue-500" type="button" routerLink="/apps/booking/list">View More 
                                        <mat-icon svgIcon="mat_solid:arrow_forward_ios" class="ml-1 text-blue-500 icon-size-3"></mat-icon>
                                    </button>
                                </div>
                                </div>
                            </div>
                            <div class="flex flex-row flex-wrap flex-auto px-4 py-6 bg-card rounded-xl shadow  overflow-hidden relative app">
                                <div class="cardImg self-center mx-2"><img src="assets/images/icons/driver.png"></div>
                                <div class="bgOpacity ml-3 lg:ml-3 md:ml-3">
                                <div class="flex items-start ">
                                    <div class="text-lg font-semibold tracking-tight truncate z-20 "> Total Drivers</div>
                                </div>
                                <div class="flex flex-col  ">
                                    <div class="text-4xl h-8 font-bold tracking-tight leading-none text-amber-800 z-20">20</div>
                                    <button class="min-h-0 max-h-5 h-15 text-sm flex items-center font-medium text-left text-blue-500"  type="button" routerLink="/apps/driver/list">View More
                                        <mat-icon svgIcon="mat_solid:arrow_forward_ios" class="ml-1 text-blue-500 icon-size-3"></mat-icon></button>
                                </div>
                                </div>
                            </div>
                            <div class="flex flex-row flex-wrap flex-auto px-4 py-6 bg-card rounded-xl shadow  overflow-hidden relative app">
                                <div class="cardImg self-center mx-2"><img src="assets/images/icons/driver.png"></div>
                                <div class="bgOpacity ml-3 lg:ml-3 md:ml-3">
                                <div class="flex items-start ">
                                    <div class="text-lg font-semibold tracking-tight truncate z-20 ">Active Drivers</div>
                                </div>
                                <div class="flex flex-col  ">
                                    <div class="text-4xl h-8 font-bold tracking-tight leading-none text-amber-800 z-20">20</div>
                                    <button class="min-h-0 max-h-5 h-15 text-sm flex items-center font-medium text-left text-blue-500"  type="button" routerLink="/apps/driver/list">View More
                                        <mat-icon svgIcon="mat_solid:arrow_forward_ios" class="ml-1 text-blue-500 icon-size-3"></mat-icon></button>
                                </div>
                                </div>
                            </div>
                        </div>

                        <div class="grid sm:grid-cols-8 md:grid-cols-12 gap-x-4 w-full min-w-0">
                            <div class="md:col-span-8 flex flex-col flex-auto bg-card m-4 mx-0 shadow overflow-hidden p-4">
                                <div class="xl:col-span-2 flex flex-col flex-auto overflow-hidden">
                                    <div>
                                        <div class="flex border-b" style="align-items: center;">
                                            <span class=" flex items-center font-bold text-lg mb-4">Active driver</span>
                                        </div>
                                        <div class="grid grid-cols-1 sm:grid-cols-4 md:grid-cols-4 gap-x-4 w-full min-w-0 mt-4">
                                            <div class="flex flex-col flex-auto overflow-hidden gap-y-1 border">
                                                <div class="flex row bg bg-gray-100 pl-4">
                                                    <label class="flex self-center">Akshay</label>
                                                    <img class="min-w-0 min-h-0 w-15" src="assets/images/icons/movingcar1.gif" alt="">
                                                </div>
                                                <div class="flex row bg bg-gray-100 pl-4">
                                                    <label class="flex self-center">piyush</label>
                                                    <img class="min-w-0 min-h-0 w-15" src="assets/images/icons/movingcar1.gif" alt="">
                                                </div>
                                            </div>
                                            <div class="flex flex-col md:col-span-3 flex-auto overflow-hidden border">
                                                <div class="">
                                                    <img class="min-w-0 min-h-0 w-full" src="assets/images/icons/map.jpeg" alt="">
     
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="md:col-span-4 flex flex-col flex-auto overflow-hidden py-4">
                                <div class="row w-full h-60 bg-card shadow mb-4 p-4">
                                    <div class="flex justify-between mb-1 pb-4 border-b" style="align-items: center;">
                                        <span class=" flex items-center font-bold text-lg">Reminder</span>
                                    </div>
                                    <div class="border-b" style="align-items: center;">
                                        <ul>
                                          <li class="p-2 bg-gray-100 rounded mb-1" *ngFor="let item of ['1.Need to check oil filter', '2.Battery service', '3.Tyre replacement']">
                                            {{ item }}
                                          </li>
                                        </ul>
                                    </div>
                                    <div class="flex justify-end pt-3" style="align-items: center;">
                                        <button class="text-white min-h-0 h-7" style="font-size: 12px;" mat-stroked-button (click)="viewReminder()">View</button> 
                                    </div>
                                </div>
                                <div class="row w-full h-60 bg-card shadow p-4">
                                    <div class="flex justify-between mb-1 pb-4 border-b" style="align-items: center;">
                                        <span class=" flex items-center font-bold text-lg">Fuel Details</span>
                                    </div>
                                    <div class="border-b" style="align-items: center;">
                                        <ul>
                                          <li class="p-2 bg-gray-100 rounded mb-1" *ngFor="let item of ['1. Added fuel on trip', '2.Added fuel', '3.Added fuel'];">
                                            {{ item }} 
                                          </li>
                                        </ul>
                                    </div>
                                    <div class="flex justify-end pt-3" style="align-items: center;">
                                        <button class="text-white min-h-0 h-7" style="font-size: 12px;" mat-stroked-button (click)="viewFuel()">View</button> 
                                    </div>
                                </div>
                            </div>

                        </div>


                        <app-userlist></app-userlist>
                        
                        
                           
                        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-2 lg:grid-cols-2 xl:grid-cols-2 gap-4 w-full min-w-0 mt-4">
                                <!-- <div class="flex flex-row flex-wrap p-3 bg-card shadow rounded-2xl overflow-hidden">
                                    <div class="flex-auto ">  
                                        <div class="grid grid-cols-1 gap-1 w-full min-w-0">
                                            <div class="flex flex-col flex-auto overflow-hidden">
                                                <div class="flex">
                                                    <img class="w-6 h-6 mr-2" src="assets/images/logo/domain.png" alt="">
                                                    <label class="flex justify-between w-full block font-semibold text-lg  min-h-0 h-7 " >
                                                        Domain's
                                                        <button  class=" flex fuse-mat-button-rounded min-h-0 h-6 min-w-0 w-20" mat-flat-button >
                                                            <span class="flex" (click)="addDomain()">
                                                                <mat-icon class="self-center icon-size-4 mr-1" svgIcon="add" ></mat-icon>
                                                               <span class="self-center " style="font-size: 10px;">Add</span>
                                                            </span>
                                                        </button>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="flex flex-col flex-auto overflow-hidden " *ngFor="let item of domainListData; let i = index">
                                                <div class="flex">
                                                    <label class="flex w-full block font-medium text-sm bg-gray-100 min-h-0 h-4 cursorpointer" (click)="editDomain(item.Id)">
                                                        <span class="flex self-center font-medium  mx-2 mr-1">
                                                            {{i+1}} .
                                                        </span>
                                                       {{item.DomainName}}
                                                    </label>
                                                    <span class="flex self-center bg-gray-100 font-medium text-sm pr-2 min-h-0 h-4">
                                                        {{ item.Active == 1 ? 'Active' : item.Active == 0 ? 'Inactive' : 'Unknown' }}
                                                    </span>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </div>  -->
                                <!-- <div class="flex flex-row flex-wrap p-3 bg-card shadow rounded-2xl overflow-hidden">
                                    <div class="flex-auto ">  
                                        <div class="grid grid-cols-1 gap-1  w-full min-w-0">
                                            <div class="flex flex-col flex-auto overflow-hidden">
                                                <div class="flex">
                                                    <img class="w-6 h-6 mr-2" src="assets/images/logo/menu.jpg" alt="">
                                                    <label class="flex justify-between block w-full font-semibold text-lg  min-h-0 h-7 " >
                                                        Menu's
                                                        <button  class=" flex self-center fuse-mat-button-rounded min-h-0 h-6 min-w-0 w-20" mat-flat-button >
                                                            <span class="flex" (click)="addMenu()">
                                                                <mat-icon class="self-center icon-size-4 mr-1" svgIcon="add" ></mat-icon>
                                                               <span class="self-center " style="font-size: 10px;">Add</span>
                                                            </span>
                                                        </button>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="flex flex-col flex-auto overflow-hidden " *ngFor="let item of menuListData; let i = index">
                                                <div class="flex">
                                                    <label class="flex w-full block font-medium text-sm bg-gray-100 min-h-0 h-4 cursorpointer" (click)="editMenu(item.Id)">
                                                        <span class="flex self-center font-medium  mx-2  mr-1">
                                                            {{i+1}} . 
                                                        </span>
                                                        {{item.MenuName}}
                                                    </label>
                                                </div>
                                            </div>
                                        </div> 
                                    </div>
                                </div> -->
                                <!-- <div class="flex flex-row flex-wrap flex-auto p-3 bg-card shadow rounded-2xl overflow-hidden card1 relative">
                                    <div class="flex-auto ">  
                                        <div class="grid grid-cols-1 gap-1  w-full min-w-0">
                                            <div class="flex flex-col flex-auto overflow-hidden">
                                                <div class="flex">
                                                    <img class="w-6 h-6 mr-2" src="assets/images/img/pageicon.jpg" alt="">
                                                    <label class="flex justify-between w-full block font-semibold text-lg  min-w-6 " >
                                                        Page's
                                                        <button  class=" flex self-center fuse-mat-button-rounded min-h-0 h-6 min-w-0 w-20" mat-flat-button >
                                                            <span class="flex" (click)="addPages()">
                                                                <mat-icon class="self-center w-5 h-5 mr-1" svgIcon="add" ></mat-icon>
                                                               <span class="self-center " style="font-size: 10px;">Add</span>
                                                            </span>
                                                        </button>
                                                    </label>
                                                </div>
                                            </div>
                                            <div class="flex flex-col flex-auto overflow-hidden " *ngFor="let item of pageListData; let i = index">
                                                <div class="flex">
                                                    <label class="flex w-full block font-medium text-sm  bg-gray-100 min-w-4 cursorpointer" (click)="editPage(item.Id)">
                                                        <span class="flex self-center font-medium  mx-2  mr-1">
                                                            {{i+1}} . 
                                                        </span>
                                                        {{item.Title ? item.Title.charAt(0).toUpperCase() + item.Title.slice(1):'' }}
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div> -->
                        </div>
                    </ng-template>
                </mat-tab>
            </mat-tab-group>
        </div>
        <div></div>
    </div>
</div> 
